body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:ivory;
    line-height: 1.6;
background-color:none;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
min-height: 100%;
display: flex;
flex-direction: column;
background-image: url(josh.jpg);
}
h1 {
    font-size: 36px;
    color:darkgreen;
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
form label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
nav{
    background:#1282a2;
    height: 80px;
    width: 100%;
}
label.log{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float:inline-end;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
h3{
    text-align: center;
    color:#03045e;
    text-transform: capitalize;
}

