*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
.topic{
    font-size: larger;
    text-align: center;
    background-color:orange;
    color: whitesmoke;
    padding: 16px 32px;
}
.container{
    /* width: 95vw;
    height: 500px; */
    /* border: 2px solid red; */
    margin: 20px;
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}
/* .box1{
    float: left;
    width: 300px;
    height: 450px;
    padding: 20px;
    margin: 50px;    
    /* background-color: aquamarine;   
} */

.box1{
    float: left;
    width: 250px;
    height: 300px;
    padding: 8px;
    margin: 10px;
    transition: width 1s ,height 1s, transform 1s;
        background-color: #f1f1f1;  

}


.box1:hover{
    transform: scale(1.1) ;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px 2px gray;
    cursor: grab;
}
/* p {
    word-wrap: break-word;
} */
.heading{
    font-size: 20px;
    text-align: center;
    color: brown;
    font-weight: 800;
    letter-spacing: 1px;

}
.box1 p{
    padding: 5px;
    font-family: cursive;
    text-align: center;

}

.price{
    color: brown;
    font-size: 15px;
    text-align: center;
    /* margin-left: 100px; */
    font-weight:800;
}
.button{
    /* margin-top: 20px; */
    text-align: center;
    display: none;
}
.button button {
    width: 100px;
    height: 25px;
    /* padding: 10px; */
    border-radius: 20px;
    background-color: rgb(red, green, blue);
    /* color: white; */
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}
.box1:hover .button{
    display: block;
    
}