h1{
    text-align: center;
    text-transform: capitalize;
    text-transform: uppercase;
}
h1 span:nth-child(1){
    color:black;
}
h1 span:nth-child(2){
    color:red;
}
body{
    background-color:antiquewhite;
}
h4{
    text-align: center;
}
a:hover{
    color:red;
}
h4 span:nth-child(1){
    color: #03045e;
}
 h4 span:nth-child(2){
color:#f77f00
}
h4{
    color: aqua;
}