{
   marigin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'peppins',sans-serif;

}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
   background-image: url(image/cc.png.jpeg);
color: blue;
   
}
josh-sign-up-form
{
    position: relative;
    width: 400 px;
    height: 500 px;
 /   background: #1c8adb;
    border-radius: 30 px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
josh-sign-up-form h2
     {
   
        marign-button:30px;
        container:"rectangle" ;
     }
     input-box
     {
        border-radius: 30;
        padding: 20 px;
        margin:10 px;
        width: 100 %;
        border: solid #999;
        outline: #1c8adb;
     }

     






















    
