{
   marigin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'peppins',sans-serif;

}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #1c8adb;
}
josh-sign-up-form
{
    width: 300%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
     padding:20px;
     margin:8% auto 100;
     text-align:center;
}
josh-sign-up-form h2
     {
        color : #1c8adb;
        marign-button:30px;
     }
     input-box
     {
        border-radius: 30px;
        padding: 20px;
        margin:10px;
        width: 100%;
        border:1px solid #999;
        outline: #1c8adb;
     }

     






















