h1{
  color: #202;;
  background-image:;
}
h2{
  color:darkblue;
  text-align: left;
}
h3{
  color: blue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');

body{
    font-family: 'poppins',sans-serif;
    font: size 5px ;
    line-height: 10px;
    color: #222;
    background-color: wheat;
    .main {
        width: 1170px;
        margin: 100px auto;
        text-align: center;
        text-decoration-color: fuchsia;
        text-decoration: double;
      }

.section-title{
    text-align: center;
    margin-bottom: 80px;
}

.section-title.h2 {
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .section-title h2::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .single-menu img{
border-radius: 50%;
max-width: 180px;
border: 1px dashed #ddd;
padding: 3px;
margin-right: 15px;
transition: 5s;
  }
  .single-menu:hover img{
    transform:rotate(360deg);

  }
  .single-menu .Menu-content h5{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;

  }
  .single-menu{
    display: flex;
    align-items: center;
    margin-top: 40px;
  }